* {
  margin: 0;
  padding: 0;
}
header {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.logo,
.menu-list {
  display: inline-block;

  vertical-align: middle;
}
.menu-list-items {
  display: inline;
  margin-left: -3.3px;
  padding: 10px 20px;
}
.logo {
  letter-spacing: 4px;
  padding: 10px;
}
.menu {
  float: right;
  margin-top: 8px;
  margin-right: 5px;
}

.menu-list-link {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
}

.menu-list-items:hover,
.logo:hover {
  background-color: gray;
}
